@use '../styles/variables.scss';

.container-password {
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content-left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 75%;
        height: 100%;
        background-color: variables.$primary-color;

        &__content-info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 35%;
            height: 35%;
            margin-right: 25%;

            h1 {
                color: variables.$primary-text;
                font-size: 2.5em;
                font-family: 'Poppins', sans-serif;
                margin: 0;
                height: 50%;
                padding-bottom: 0.8em;
            }

            .flex-container {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-end;
            }

            .btn-send {
                font-family: 'Poppins', sans-serif;
                background-color: #085FCE;
                color: white;
                font-size: 14px;
                padding: 3% 10%;
                height: 50%;
                margin: 10% 0;
                border: none;
                border-radius: 6px;
                text-decoration: none;
                align-self: flex-end;
                transition: background-color 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #2B63D9;
                }
            }

            @media (max-width: 768px) {
                .btn-send {
                    width: 100%;
                    margin: 20px 0;
                }
            }
        }
    }


}