
.container_1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 5;

  &__input {
    padding: 0px 10px;
    min-height: 40%;
    height: 40%;
    background-color: #4c4c56;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    color: white;
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

  &__label {
    display: block;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: -0.05px;
    color: white;
    height: 60%;
    max-height: 30%;
    margin-bottom: 5%;
  }

  &__password-t {
    display: block;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    letter-spacing: -0.05px;
    color: green;
  }

  &__password-f {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    letter-spacing: -0.05px;
    height: 0;
    color: red;
    margin-bottom: 5%;
  }

}